#jumbo4 {
  background-color: #6666cc;
  color: white;
}
#buttonpainting{
  width : 75%;
  display: inline-block;
  padding: 15px 25px;
  padding-left: 20px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: #6666cc;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #cccccc;
  justify-content: center;
  margin-left: 15%;
}

#buttonpainting:hover {background-color: #000033}

#buttonpainting :active {
  background-color: #9991;
  box-shadow: 0 5px #cccccc;
  transform: translateY(4px);
}


#buttonelectricityrepairs{
  width : 75%;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: #6666cc;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #cccccc;
  margin-left: 15%;
  }

  #buttonelectricityrepairs:hover {background-color: #000033}

  #buttonelectricityrepairs :active {
  background-color: #9991;
  box-shadow: 0 5px #cccccc;
  transform: translateY(4px);
  }

#buttonplumbing{
  width : 75%;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: #6666cc;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #cccccc;
  margin-left: 15%;
}

#buttonplumbing:hover {background-color: #000033}

#buttonplumbing :active {
  background-color: #9991;
  box-shadow: 0 5px #cccccc;
  transform: translateY(4px);

}

#buttonflooring{
  width : 75%;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: #6666cc;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #cccccc;
margin-left: 15%;
}

#buttonflooring:hover {background-color: #000033}

#buttonflooring :active {
  background-color: #9991;
  box-shadow: 0 5px #cccccc;
  transform: translateY(4px);
}
#buttoncarpentry{
  width : 75%;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: #6666cc;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #cccccc;
  margin-left: 15%;
}

#buttoncarpentry:hover {background-color: #000033}

#buttoncarpentry :active {
  background-color: #9991;
  box-shadow: 0 5px #cccccc;
  transform: translateY(4px);

}

#jumbo2{
  text-align: center;
  margin-bottom: 0;
  background-color: #6666cc;
  margin-top: 0;
  color: white;
}

#jumbo3{
  margin-bottom: 0;
  background-color: : #cccccc;
}

#jumbo1{
  margin-bottom: 0;
}

#buttonheader1{
  display: inline-block;
 border-radius: 8px;
 background-color: #6666cc;
 border: 10px;
 color: #FFFFFF;
 text-align: center;
 font-size: 15px;
 padding: 5px;
 width: 300px;
 transition: all 0.5s;
 cursor: pointer;
 float: right;
 margin-right: 10px;
 border-width: 10px;
}

#buttonheader1 span {
 cursor: pointer;
 display: inline-block;
 position: relative;
 transition: 0.5s;
}

#buttonheader1 span:after {
 content: '\00bb';
 position: absolute;
 opacity: 0;
 top: 0;
 right: -20px;
 transition: 0.5s;
}

#buttonheader1:hover span {
 padding-right: 25px;
}

#buttonheader1:hover span:after {
 opacity: 1;
 right: 0;
}

#buttonheader2{
  display: inline-block;
 border-radius: 8px;
 background-color: #6666cc;
 border: 100px;
 color: #FFFFFF;
 text-align: center;
 font-size: 15px;
 padding: 1px;
 width: 80px;
 transition: all 0.5s;
 cursor: pointer;
 float: right;
}

#buttonheader2 span {
 cursor: pointer;
 display: inline-block;
 position: relative;
 transition: 0.5s;
}

#buttonheader2 span:after {
 content: '\00bb';
 position: absolute;
 opacity: 0;
 top: 0;
 right: -20px;
 transition: 0.5s;
}

#buttonheader2:hover span {
 padding-right: 25px;
}

#buttonheader2:hover span:after {
 opacity: 1;
 right: 0;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}


.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

#logo{
  width: 10%;
  height: auto;
}
